# PythonとJupyterの練習

# Jupyterの練習

Jupyterは、Markdownテキストとコードを記述して実行できるインタラクティブな環境です。

たとえば次の**コードセル**には、値を計算して変数に保存し、結果を出力する短い Python スクリプトが記述されています。

In [1]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

上記のセルのコードを実行するには、セルをクリックして選択し、コードの左側にある実行ボタンをクリックするか、キーボードショートカット「Command + Return」または「Ctrl + Enter」を使用します。

「Shift + Return」または「Shift + Enter」を使用すると、セルを実行した上で次のセルに移動します。

コードはセルをクリック、Markdownテキストはセルをダブルクリックすることで編集できます。

1つのセルで定義した変数は、後で他のセルで使用できます。

In [2]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

## セルの種類

主に二種類のセルを使います。

- コード：Pythonのコードが書かれたセルです。
- Markdownテキスト：説明が書かれたセルです。

セル左上の「⋯」アイコンから「Change Cell to Code/Markdown」を選択すると、セルの種類を変えることができます。

## コマンドモード

セルを選択するか、編集モードから「ESC」を押すとコマンドモードに入ります。コマンドモードでは、セルの左に色付きの線が現れます。

コマンドモードでは、以下のキーボードショートカットが使えて便利です。ぜひ活用しましょう。

- a: 上にセルを挿入 (above)
- b: 下にセルを挿入 (below)
- dd: セルを削除（そのセルが削除されてしまいますので注意！）
- x: セルを切り取り
- c: セルをコピー
- v: セルを貼り付け
- z: やり直し
- l: セルの行に番号を振るか振らないかをスイッチ
- s または Ctrl+s: ノートブックをセーブ (checkpoint)
- Enter: 編集モードに移行
- Command/Ctrl+Enter: セルを実行する
- Shift+Enter: セルを実行して次のセルに
- j (↓): 次のセルに移動
- k (↑): 前のセルに移動

# Pythonの練習

この部分は、Pythonドキュメントを基に作成しています。  

https://docs.python.org/ja/3/tutorial/introduction.html

## Pythonで簡単な計算をしてみよう

### Python変数

Pythonでは、計算の結果に名前をつけて参照できます。名前をつけるときは、 = 記号を使って、次の形式で記述します。

```
名前 = 式
```

この名前のことを**変数**といい、`=`を使った行を**代入文**といいます。

### Pythonのコメントの入れ方

Python におけるコメント文は、ハッシュ文字 # で始まり、物理行の終わりまで続きます。コメントは行の先頭にも、空白やコードの後にも書くことができますが、文字列リテラルの内部に置くことはできません。文字列リテラル中のハッシュ文字はただのハッシュ文字です。コメントはコードを明快にするためのものであり、Pythonはコメントを解釈しません。なので、サンプルコードを実際に入力して試して見るときは、コメントを省いても大丈夫です。

まずは実行してみましょう。

In [3]:
# コメントはこのようにかく
spam = 1  # これもコメントです
          # これもコメントです
text = "# This is not a comment because it's inside quotes."
print("complete")

complete

## 途中経過を表示しよう

`print("出力したい文字列")` の形式で「出力したい文字列」の部分に、出力したい文字や変数を入れます。printごとに自動的に改行されます

In [4]:
print("Hello world!")   #Hello world!が表示されます
print(spam)             #spam変数が表示されます
print(text)             #test変数が表示されます

Hello world!
1
# This is not a comment because it's inside quotes.

変数と文字列を表示したい場合は、以下のようにできます。

In [5]:
print(f"spam:{spam}")
print(f"text:{text}")

spam:1
text:# This is not a comment because it's inside quotes.

Pythonではシングルクォーテーション（'）とダブルクォーテーション（"）を区別しません。


【演習】上のセルのコードをシングルクォーテーションに直し、同じように動くことを確認しましょう。

In [6]:
# your code goes here
print(f'spam:{spam}')
print(f'text:{text}')

spam:1
text:# This is not a comment because it's inside quotes.

## Pythonを電卓として使う

式を入力すると、その結果が表示されます。

演算子 +, -, *, / は他のほとんどの言語と同じように動作します; 丸括弧 (()) をグループ化に使うこともできます。いくつか試してみましょう。

In [7]:
2 + 2

4

In [8]:
50 - 5*6

20

In [9]:
(50 - 5*6) / 4

5.0

In [10]:
8 / 5  # 除算は常に浮動小数点数を返します

1.6

整数 (例えば、 2 、 4 、 20) は int 型であり、小数部を持つ数 (例えば、 5.0 、 1.6) は float 型です。

除算 (/) は常に浮動小数点数を返します。 // 演算子は 整数除算 を行い、(小数部を切り捨てた) 整数値を返します。剰余は、% で求めます。

In [11]:
17/3

5.666666666666667

In [12]:
17//3

5

冪乗を計算するのに ** 演算子が使えます

In [13]:
5 * 2

10

In [14]:
5 ** 2

25

等号 (=) は変数に値を代入するときに使います。代入を行っても、結果は出力されず、次の入力プロンプトが表示されます。
変数が "定義" されていない (つまり値が代入されていない) 場合、その変数を使おうとするとエラーが発生します:

In [15]:
width = 20
height = 5 * 9
width * height

900

In [16]:
depth * width * height  #depthが定義されていないので、エラーが出ます.

NameError: name 'depth' is not defined

エラー文には、コードを修正するためのヒントがあります。英語ですが、きちんと読みましょう。

In [17]:
depth = 10 # depthを定義すると計算できるようになります。
depth * width * height

9000

最後に表示された結果は変数 _ に代入されます。このことを利用すると、Python を電卓として使うときに、計算を連続して行う作業が多少楽になります。以下に例を示します:

In [18]:
_

9000

int と float に加え、 Python は Decimal や Fraction などの他の数値型もサポートしています。 複素数 も組み込み型としてサポートしており、 j もしくは J 接尾辞を使って虚部を示します (例: 3+5j)。

## 文字列を扱う

数だけではなく、文字列も操作できます。文字列を記述する方法は複数あり、単引用符 ('...') で囲むか、もしくは二重引用符 ("...") で囲みます。結果はどちらも同じ文字列になります。
引用符（', "）は、\ でエスケープできます。

In [19]:
'spam eggs'  # single quotes

'spam eggs'

In [20]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [21]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [22]:
'"Yes," they said.'

'"Yes," they said.'

In [23]:
'"Yes," they said.'

'"Yes," they said.'

In [24]:
"\"Yes,\" they said."

'"Yes," they said.'

In [25]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

出力文字列は引用符に囲まれ、特殊文字はバックスラッシュでエスケープされます。出力文字が入力とは違って見える (囲っている引用符が変わる) こともありますが、その 2 つの文字列は同じ文字列です。文字列が単引用符を含み二重引用符を含まない場合、二重引用符で囲われ、それ以外の場合は単引用符で囲われます。

In [26]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [27]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [28]:
s = 'First line.\nSecond line.'  # \n means newline

In [29]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [30]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

\ に続く文字を特殊文字として解釈されたくない場合は、最初の引用符の前に r を付けた raw strings が使えます。要注意は、改行を意味する \n です。

In [31]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [32]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

文字列リテラルは複数行にまたがって書けます。1 つの方法は三連引用符 ("""...""" や '''...''') を使うことです。改行文字は自動的に文字列に含まれますが、行末に \ を付けることで含めないようにすることもできます。
(最初の改行文字は含まれていないことに注意してください)

In [33]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

文字列は + 演算子で連結させる (くっつけて一つにする) ことができ、* 演算子で反復させることができます:

In [34]:
# 3 times 'un', followed by 'ium'
# 'unununium'が表示されます
3 * 'un' + 'ium'

'unununium'

連続して並んでいる複数の 文字列リテラル (つまり、引用符に囲われた文字列) は、自動的に連結されます。

In [35]:
'Py' 'thon'

'Python'

この機能は、長い文字列を改行したいときにとても役に立ちます:

In [36]:
text = ('Put several strings within parentheses '
'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

これは2つのリテラルどうしに対してのみ働き、変数や式には働きません。下の例はどちらもエラーがでます。

In [37]:
prefix = 'Py'

In [38]:
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (957293534.py, line 1)

In [39]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (3357839946.py, line 1)

文章を単語に分解しリスト化することもできます。

In [40]:
words = "Hello World"
words = words.split()
print(words)

['Hello', 'World']

変数どうしや変数とリテラルを連結したい場合は、+ を使ってください

In [41]:
prefix + 'thon'

'Python'

## リスト(list) を使う
Pythonは多くの 複合 (compound) データ型を備えており、複数の値をまとめるのに使われます。最も汎用性が高いのは リスト (list) で、コンマ区切りの値 (要素) の並びを角括弧で囲んだものとして書き表されます。リストは異なる型の要素を含むこともありますが、通常は同じ型の要素のみを持ちます。

In [42]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

インデックス (添字) を指定して文字を取得できます。最初の文字のインデックスは 0 になります。インデックスには、負の値も指定できまます。この場合、右から数えていきます. -0 は 0 と区別できないので、負のインデックスは -1 から始まります。

In [43]:
squares[0]  # indexing returns the item

1

In [44]:
squares[-1]

25

In [45]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

リストは、リストの連結などもサポートしています

In [46]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

リストは 可変型ですので、要素を入れ替えられます:

In [47]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [48]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

append() を使って、リストの末尾に新しい要素を追加できます (このメソッドについては後で詳しく見ていきます):

In [49]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

スライスには、代入もできます。スライスの代入で、リストのサイズを変更したり、全てを削除したりもできます:

In [50]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

スライスでは、start:stop:stepの形で範囲と増分を指定できます。startが始点、stopが終点となります。文字そのものではなく、文字と文字の間を指し、最初の文字の左端が0です。また、stepは省略できます。

In [51]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [52]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

始点・終点を省略すると自動的に、先頭もしくは末尾となります。

In [53]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

負の数字を入れることもできます。その場合、右端が0となります

In [54]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[-3:-1]

['e', 'f']

stepを負にすると逆順に呼び出せます

In [55]:
letters[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

組込み関数 len() はリストにも使えます:

In [56]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

リストを入れ子 (ほかのリストを含むリストを造る) にできます。例えば:

In [57]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [58]:
x[0]

['a', 'b', 'c']

In [59]:
x[0][1]

'b'

## 辞書（dictionary）を使う

辞書は、キー（key）と値（value）を対応付けるデータです。キーとしては、文字列・数値など変更不可能なデータを使うことができますが、変更可能なデータであるリスト・辞書を使うことはできません。値としては、変更の可否にかかわらずあらゆる種類のデータを指定できます。

In [60]:
fruit = {'apple': 3, 'banana': 2, 'orange': 10}

In [61]:
fruit

{'apple': 3, 'banana': 2, 'orange': 10}

In [62]:
type(fruit)

dict

辞書のキーに対応する値を得るには、リストにおけるインデックスと同様に、

`辞書[キー]`

とします。

In [63]:
fruit['apple']

3

辞書に登録されていないキーを指定すると、エラーになります。

In [64]:
fruit['mango']

KeyError: 'mango'

キーに対する値を変更したり、新たなキーとして値を登録するには、代入文を使います。

In [65]:
fruit['apple'] = 5
fruit

{'apple': 5, 'banana': 2, 'orange': 10}

キーが辞書に登録されているかどうかは、演算子`in`を使って調べることができます

In [66]:
'orange' in fruit

True

In [67]:
'lime' in fruit

False

組み込み関数`len`を使って、辞書に登録されている要素の数が得られます。

In [68]:
len(fruit)

3

`del`文を使って、登録されている要素を削除することができます。

In [69]:
del fruit['apple']
fruit

{'banana': 2, 'orange': 10}

空のリストと同様に、空の辞書を作ることもできます。このような空のデータは繰り返し処理でよく使われます。

In [70]:
empty = {}
empty

{}

## if 文
最もおなじみの文型は if 文です。ゼロ個以上の elif 部を使うことができ、 else 部を付けることもできます。キーワード 'elif' は 'else if' を短くしたものです。一連の if ... elif ... elif ... は、他の言語における switch 文や case 文の代用となります。

In [71]:
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

【演習】xが0以上の時に、 "Hello World!" が表示されるようにしましょう。

In [74]:
# your code goes here
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
else:
    print('Hello World!')

Hello World!

【演習】変数heightが120以上の時は、「乗れます」、120未満の時は「乗れません」を表示してください。

In [76]:
# your code goes here
height = int(input("Please enter an integer: "))

if height >= 120:
    print("乗れます")
else:
    print("乗れません")

乗れます

## for 文

Python の for 文は、C 言語のfor 文とは違います。 Python の for 文は、任意のリストまたは文字列にわたって反復を行います。反復の順番はシーケンス中に要素が現れる順番です。例えば:

In [77]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w)

cat
window
defenestrate

【演習】wordsリストの中の要素の文字数を、順番に表示してください。文字数のカウントにはlen()が便利です。

以下の様な出力を期待します。

```
cat 3
window 6
defenestrate 12
```

In [78]:
word = "Hello"
n_word = len(word)
print(n_word)

5

In [79]:
words = ['cat', 'window', 'defenestrate']

# your code goes here
for w in words:
    print(f"{w} {len(w)}")

cat 3
window 6
defenestrate 12

【演習】forとappendを使って、[0,1,2,3]というリストを作成してください。

In [80]:
# your code goes here
li = []
for i in range(4):
    li.append(i)
li

[0, 1, 2, 3]

【演習】

次のリスト`usa`が与えられた時に、リストの各要素をキー、各要素のリストにおける順番（1から始めるとする）を値とした辞書`usa_d`を作成してください。

In [2]:
usa = ['george washington', 'john adams', 'thomas jefferson', 'james madison', 'james monroe', 'john quincy adams', 'andrew jackson',  'martin van buren', 'william henry harrison', 'john tyler', 'james knox polk', 'zachary taylor']

# your code goes here
usa_d = {}
for i in range(len(usa)):
    usa_d[usa[i]] = i+1

usa_d

{'george washington': 1,
 'john adams': 2,
 'thomas jefferson': 3,
 'james madison': 4,
 'james monroe': 5,
 'john quincy adams': 6,
 'andrew jackson': 7,
 'martin van buren': 8,
 'william henry harrison': 9,
 'john tyler': 10,
 'james knox polk': 11,
 'zachary taylor': 12}

## while 文

while は、条件 (ここでは `` a < 10``) が真である限り実行を繰り返し (ループし) ます。条件式には、文字列値やリスト値なども使えます。サンプルで使われている条件テストはシンプルな例です。標準的な比較演算子は C 言語と同様です: < (より小さい)、 > (より大きい)、 == (等しい)、 <= (より小さいか等しい)、 >= (より大きいか等しい)、および != (等しくない)、です。

In [3]:
# Fibonacci series:
# the sum of two elements defines the next

a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8

In [4]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a + b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

【演習】上のコードを改変して、aが3000未満の間コードが実行されるようにしてください。

In [5]:
# your code goes here
a, b = 0, 1
while a < 3000:
    print(a, end=',')
    a, b = b, a + b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,

# 自然言語処理をやってみよう

この部分は、言語処理100本ノックから抜粋しています。  
https://nlp100.github.io/ja/

## 文字を逆列にする
【演習】文字列”stressed”の文字を逆に（末尾から先頭に向かって）並べた文字列を得よ。

In [6]:
# your code goes here
"stressed"[::-1]

'desserts'

## 文字列の連結1
【演習】「パタトクカシーー」という文字列の1,3,5,7文字目を取り出して連結した文字列を得よ

In [7]:
# your code goes here
sentence = "パタトクカシーー"
sentence[0] + sentence[2] + sentence[4] + sentence[6]

'パトカー'

## 文字列の連結2
【演習】「パトカー」＋「タクシー」の文字を先頭から交互に連結して文字列「パタトクカシーー」を得よ。

In [9]:
# your code goes here
p = "パトカー"
t = "タクシー"
pt = ""
for i in range(len(p)):
    pt += p[i]
    pt += t[i]
pt

'パタトクカシーー'

## 文字数の抽出

【演習】"Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."という文を単語に分解し、各単語の（アルファベットの）文字数を先頭から出現順に並べたリストを作成せよ。

In [13]:
# your code goes here
sentence = "Now I need a drink, alcoholic of course, after the heavy lectures involving quantum mechanics."
words = sentence.split()
print(words)
li = []
for word in words:
    li.append(len(word))

li

['Now', 'I', 'need', 'a', 'drink,', 'alcoholic', 'of', 'course,', 'after', 'the', 'heavy', 'lectures', 'involving', 'quantum', 'mechanics.']

[3, 1, 4, 1, 6, 9, 2, 7, 5, 3, 5, 8, 9, 7, 10]

【演習】"Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."という文を単語に分解し、1, 5, 6, 7, 8, 9, 15, 16, 19番目の単語は先頭の1文字、それ以外の単語は先頭の2文字を取り出し、取り出した文字列から単語の位置（先頭から何番目の単語か）への連想配列（辞書型）を作成せよ。

In [14]:
# your code goes here
sentence = "Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can."
words = sentence.split()
print(words)
di = {}
for i in range(len(words)):
    word = words[i]
    if i+1 in [1,5,6,7,8,9,15,16,19]:
        di[word[0]] = i+1
    else:
        di[word[:2]] = i+1
di

['Hi', 'He', 'Lied', 'Because', 'Boron', 'Could', 'Not', 'Oxidize', 'Fluorine.', 'New', 'Nations', 'Might', 'Also', 'Sign', 'Peace', 'Security', 'Clause.', 'Arthur', 'King', 'Can.']

{'H': 1,
 'He': 2,
 'Li': 3,
 'Be': 4,
 'B': 5,
 'C': 6,
 'N': 7,
 'O': 8,
 'F': 9,
 'Ne': 10,
 'Na': 11,
 'Mi': 12,
 'Al': 13,
 'Si': 14,
 'P': 15,
 'S': 16,
 'Cl': 17,
 'Ar': 18,
 'K': 19,
 'Ca': 20}

【演習】引数x, y, zを受け取り「x時のyはz」という文字列を返す関数を実装せよ。さらに、x=12, y="気温", z=22.4として、実行結果を確認せよ。

In [15]:
# your code goes here
def func(x,y,z):
    print(f"{x}時の{y}は{z}")

In [16]:
func(12,"気温",22.4)

12時の気温は22.4